* {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
ul,
p {
  margin: 0px;
}

ul {
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

body {
  background-image: radial-gradient(var(--cor-4), var(--cor-5));
  min-height: 800px;
}
